<div class="container-fluid" id="home-page">
  <h1 id="home">L' épicerie</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% item.forEach(i => { %>
    <div class="table-responsive" style="height: 40vh">
      <div class="col">
        <div class="card h-100">
          <img src="/images/sayur.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><%- i.itemname %></h5>
            <p class="card-text" style="font-weight: bold">
              <%- i.itemdescription %>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Stock: <%- i.stock %></small><br />
            <small class="text-muted">Price: Rp. <%- i.price %></small>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
