<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header.ejs") %>
  <body>
    <div id="container-fluid-404" class="container-fluid"></div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
