<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header.ejs") %>
  <body>
    <div class="d-flex flex-row bd-highlight">
      <div class="p-0 bd-highlight"><%- include("partials/sidebar.ejs") %></div>
      <div class="p-0 bd-highlight">
        <%- include("partials/body-item-update.ejs") %>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
